.red{
    color:red;
}

.category{
    font-family:fantasy;
}

h1{
    text-transform: uppercase;
    position: fixed;
    top: 5px;
    background-color: gray;
    width: 1000px;
    z-index: 5;
}

.records{
    position:absolute;
    right: 50px;
    top: 50px;
}

a{
    font-size: 13px;
}

.toppings, .bread, img{
    position: relative;
    top: 150px;
}

div img{
    border: 1px dashed black;
    }

img{
    margin: 5px;
    width: 500px;
    height: auto;
    padding: 10px;
}
