body{height:900px;}

#wrapper{
    width:1500px;
    margin: 0 auto;
    padding-top: 5px;
    color: white;
}

#header{
    background-color: red;
    height: 70px;
    padding: 15px;
    text-align: center;
}

#leftSide{
    background-color: green;
    padding-top: 10px;
    height: 650px;
}

#footer{
    background-color: blue;
    padding-top:20px;
    height:75px;
}
