body{
	background-color:green;
    font-weight: bold;
}


#wrapper{
	width:900px;
	margin:-20px auto;
}

#header{
	height:50px;
	text-align:center;
    background-color: red;
}

#leftbody{
	float:left;
	width:290px;
	height: 50px;
	background-color:pink;
	padding:5px;

}
#rightbody{
	float:right;
	width:590px;
	height:50px;
	background: orange;
	padding:5px;
}

#content{
    clear:left;
    background-color: blue;
    height: 525px;
}

#bottom{
	height:50px;
	clear:left;
    background-color: yellow;
}
